In [5]:
import pandas as pd

In [15]:
fin_df = pd.read_csv('IndianFinancialNews.csv')

In [16]:
fin_df.columns = ['Unnamed: 0', 'Date', 'Title', 'row_data']

In [22]:
fin_df[['row_data']].sample(20).to_json('finsmall.json', orient="table", index = False)

In [23]:
comments_df = pd.read_csv('IPL_Match_Highlights_Commentary.csv')

In [24]:
comments_df.head(5)

,Match_id,Team,Over_num,Commentary,batsman,score
0,4281444,RCB 1st Inns,0.5,"Nehra to Mandeep, FOUR, first boundary for Man...",Nehra to Mandeep,FOUR
1,4281444,RCB 1st Inns,1.0,"Nehra to Mandeep, FOUR, back-to-back boundarie...",Nehra to Mandeep,FOUR
2,4281444,RCB 1st Inns,10.0,"Henriques to Kedar Jadhav, FOUR, hit straight ...",Henriques to Kedar Jadhav,FOUR
3,4281444,RCB 1st Inns,10.4,"Nehra to Kedar Jadhav, FOUR, another full toss...",Nehra to Kedar Jadhav,FOUR
4,4281444,RCB 1st Inns,10.5,"Nehra to Kedar Jadhav, FOUR, four more. Jadhav...",Nehra to Kedar Jadhav,FOUR

In [25]:
comments_df[['Commentary']].sample(50).to_csv('commentary.csv', index = False)

In [26]:
comments_df[['Commentary']].sample(50).to_csv('commentary_test.csv', index = False)